<theme>
  <formatVersion>7</formatVersion>
  <view name="menu">
    <menuBackground name="menubg"><color>141A26</color></menuBackground>
    <menuText name="menutext">
      <fontPath>${fontBold}</fontPath><fontSize>0.035</fontSize><color>${uiText}</color>
      <separatorColor>2B3547</separatorColor><selectedColor>FFFFFF</selectedColor><selectorColor>304660</selectorColor>
    </menuText>
      <menuText name="menutitle"><fontPath>${fontBold}</fontPath><fontSize>0.030</fontSize><color>${uiText}</color></menuText>
      <menuText name="menufooter"><fontPath>${fontRegular}</fontPath><fontSize>0.025</fontSize><color>${uiMuted}</color></menuText>
      <menuTextSmall name="menutextsmall"><fontPath>${fontRegular}</fontPath><fontSize>0.025</fontSize><color>${uiMuted}</color></menuTextSmall>
  </view>
</theme>
